body {
    padding: 0;
    margin: 0;
}
button {
 background: url("assets/backgrounds/metal-background.jpg");
 color: white;
 cursor: pointer;
 border-radius: 6px;
}
#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: url("assets/backgrounds/sand-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#title {
    background-image: url("assets/backgrounds/metal-background.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40px;
    font-size: 120px;
    text-align: center;
    font-weight: bold;
    font-family: "Steelfish Rg", "helvetica neue", helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    text-shadow: 4px 4px 14px rgba(0, 0, 0, 0.6);
    width: 100vw;
}
#player-one-container {
    /*👉 background-color: blue;👈*/
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
#player-one-board {
    width: 400px;
    height: 400px;
    background-color: white;
    margin-top: 200px;
    display: grid;
    justify-content: stretch;
    background: url("assets/backgrounds/water-background-2.jpg");
    background-size: cover;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75) inset;
    position: relative;
}

 

#drag-ship-text {
 position:absolute;
 top: 140px;
 left: 65px;
 font-size: 2.5rem;
 color: white;
text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
 animation: blink 2s linear 0s infinite normal;
}
@keyframes blink {
 0% {
  opacity: 1;
 }
 50% {
  opacity: 0.3
 }
 100% {
  opacity: 1;
 }
}
#player-two-container {
    /*👉 background-color: red;👈*/
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
#player-two-board {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 200px;
    display: grid;
    justify-content: stretch;
    background: url("assets/backgrounds/water-background-2.jpg");
    background-size: cover;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75) inset;
}
#player-two-board > * {
    cursor: crosshair;
}
.rows {
    /*👉  background-color: aquamarine;👈*/
    display: grid;
    grid-auto-flow: column;
}
.squares {
    border: 1px solid black;
    /*👉 display: flex;👈*/
    justify-content: center;
    position: relative;
}
.squares:hover {
    background-color: chartreuse;
}
#ship-placement-container {
    position: absolute;
    bottom: 10%;
    display: grid;
    text-align: center;
    align-self: center;
    width: 100vw;
    justify-content: center;
}
#ship-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
#random-placement-button {
 height: 20px;
 width: 150px;
 margin: auto ;
}
#direction-button {
 height: 20px;
 width: 40px;
 margin: 10px auto ;
}
#ship-image-parent {
}
#ship-container > img {
    margin: 10px;
    margin: auto;
    cursor: grabbing;
  
}
#rotated-ship-container {
 position: absolute;

}
#start-button {
    height: 250px;
    width: 400px;
    border-radius: 12px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url("assets/backgrounds/metal-background.jpg");
 /*👉   opacity: 0.95;👈*/
    color: white;
    font-size: 4.5rem;
     animation: startBlink 2.5s linear 0s infinite normal;
  
}
@keyframes startBlink {
 0% {
  opacity: 1;
 }
 50% {
  opacity: 0.1
 }
 100% {
  opacity: 1;
 }
}
#reset-button {
    height: 30px;
    width: 100px;
    border-radius: 12px;
     margin: 10px auto ;
}
#log-text-container {
    background: black;
    border-radius: 6px;
    width: 70vw;
    border: 2px solid rgb(120, 247, 51);
}
#log-text {
    color: rgb(120, 247, 51);
    height: 60px;
}
#carrier-option {
    width: 190px;
    height: 38px;
}

/*👉Sprites👈*/
.carrier-sprite-0 {
    background: url("assets/icons/carrier.png") 0 0;
    background-size: 190px 38px;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.carrier-sprite-1 {
    background: url("assets/icons/carrier.png") 152px 0;
    background-size: 190px 38px;
    width: 100%;
    height: 100%;
}
.carrier-sprite-2 {
    background: url("assets/icons/carrier.png") 114px 0;
    background-size: 190px 38px;
    width: 100%;
    height: 100%;
}
.carrier-sprite-3 {
    background: url("assets/icons/carrier.png") 76px 0;
    background-size: 190px 38px;
    width: 100%;
    height: 100%;
}
.carrier-sprite-4 {
    background: url("assets/icons/carrier.png") 38px 0;
    background-size: 190px 38px;
    width: 100%;
    height: 100%;
}
#battleship-option {
    width: 152px;
    height: 38px;
}
.battleship-sprite-0 {
    background: url("assets/icons/battleship.png") 0 0;
    background-size: 152px 38px;
    width: 100%;
    height: 100%;
}
.battleship-sprite-1 {
    background: url("assets/icons/battleship.png") 114px 0;
    background-size: 152px 38px;
    width: 100%;
    height: 100%;
}
.battleship-sprite-2 {
    background: url("assets/icons/battleship.png") 76px 0;
    background-size: 152px 38px;
    width: 100%;
    height: 100%;
}
.battleship-sprite-3 {
    background: url("assets/icons/battleship.png") 38px 0;
    background-size: 152px 38px;
    width: 100%;
    height: 100%;
}
#cruiser-option {
    width: 114px;
    height: 38px;
}
.cruiser-sprite-0 {
    background: url("assets/icons/cruiser.png") 0 0;
    background-size: 114px 38px;
    width: 100%;
    height: 100%;
}
.cruiser-sprite-1 {
    background: url("assets/icons/cruiser.png") 76px 0;
    background-size: 114px 38px;
    width: 100%;
    height: 100%;
}
.cruiser-sprite-2 {
    background: url("assets/icons/cruiser.png") 38px 0;
    background-size: 114px 38px;
    width: 100%;
    height: 100%;
}
#destroyer-option {
    width: 76px;
    height: 38px;
}
.destroyer-sprite-0 {
    background: url("assets/icons/destroyer.png") 0 0;
    background-size: 76px 38px;
    width: 100%;
    height: 100%;
}
.destroyer-sprite-1 {
    background: url("assets/icons/destroyer.png") 38px 0;
    background-size: 76px 38px;
    width: 100%;
    height: 100%;
}
#submarine-option {
    width: 114px;
    height: 38px;
}
.submarine-sprite-0 {
    background: url("assets/icons/submarine.png") 0 0;
    background-size: 114px 38px;
    width: 100%;
    height: 100%;
}
.submarine-sprite-1 {
    background: url("assets/icons/submarine.png") 76px 0;
    background-size: 114px 38px;
    width: 100%;
    height: 100%;
}
.submarine-sprite-2 {
    background: url("assets/icons/submarine.png") 38px 0;
    background-size: 114px 38px;
    width: 100%;
    height: 100%;
}
